@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(19, 18, 18, 0.3);
	background-color: #403f3f;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb
{
	background-color: #66666689;
	border: 0px solid #000000;
}
.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    height: 100% !important;
}



