@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #272173;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(200, 50, 150, .8);
  border-radius: 50px;
  margin-right: 2px;
  border: transparent solid 5px;
}

.no-scroll::-webkit-scrollbar,
.no-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  width: 0px;
}